<p id="notice"><%= notice %></p>

<p>
  <strong>Promo code:</strong>
  <%= @promo_code.promo_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @promo_code.status %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @promo_code.discount %>
</p>

<p>
  <strong>Redemptions:</strong>
  <%= @promo_code.redemptions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promo_code.description %>
</p>

<p>
  <strong>Single use:</strong>
  <%= @promo_code.single_use %>
</p>

<%= link_to 'Edit', edit_promo_code_path(@promo_code) %> |
<%= link_to 'Back', promo_codes_path %>
