<div class="container">
<%= semantic_form_for @section do |f| %>
  <%= f.inputs do %>
    <%= f.input :slot,  as: :select, collection: ['09:00  -  10:00am', '10:10 - 11:10am','11:20 -  12:20pm','12:30 -1:30pm','2:20  -  3:20pm','3:30  -  4:30pm'], include_blank: 'Slot', required:true  %>
    <%= f.input :name,  as: :string, include_blank: 'Section Name', required:false  %>
    <%= f.input :date, as: :string, input_html: { id: 'datepicker', value:@section.date }, placeholder: 'Date', required: true, label: true %>
    <%= f.input :lesson_type, as: :select, collection: ['Private Lesson', 'Group Lesson'], include_blank: 'Private or Group?', label: false %>
    <!-- <%= f.input :age_group, as: :select, collection: ['Adults', 'Kids'], include_blank: 'Kids or Adults?', label: false %> -->
    <%= f.input :sport_id, as: :select, collection: [['Ski',1],['Snowboard',3]], selected:@section.sport_id, include_blank: 'Select Sport', required: true,label: false %>
    <% if @section.date %>
          <!--       <%= f.select :instructor_id, options_from_collection_for_select(Instructor.scheduled_for_date(@section.date), :id, :name, selected:@section.instructor_id), {include_blank:"Select an Instructor"}, {class: 'form-control form-group', required:false}  %> -->
          <%= f.select :instructor_id, options_from_collection_for_select(Instructor.all, :id, :name, selected:@instructor_id), {include_blank:"Select an Instructor"}, {class: 'form-control form-group', required:false}  %>
    <% else %>
          <%= f.select :instructor_id, options_from_collection_for_select(Instructor.all, :id, :name, selected:@instructor_id), {include_blank:"Select an Instructor"}, {class: 'form-control form-group', required:false}  %>
    <% end %>

    <!-- <%= f.input :status, as: :select, collection: ['Open','Fully booked','In-progress','Completed'], include_blank: 'Lesson status', label: false %> -->
<!--     <%= f.input :level, as: :select, collection:
              ["First-timer",
              "Level 2",
              "Level 3",
              "Level 4",
              "Level 5",
              "Level 6",
              "Level 7",
              "Level 8",
              "Level 9"],
              include_blank: "What level is the class?", label: false %>
 -->    <%= f.input :capacity, label:"Max capacity" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
</div>