<!-- <h3 class="center">Filter Lesson Schedule for a Specific Date</h3>
  <div id="search-widget" class="center">
    <%= form_tag(filtered_schedule_results_path, :method => "get") do %>
    <%= text_field_tag :date, params[:date], placeholder: "Select a date", id:"datepicker2", class:'navy-text form-control search-form' %>
    <%= submit_tag "Filter Lessons", class:"btn btn-primary btn-lg page-scroll" %>
    <% end %>
</div> -->

<div id="desktop-view" class="">

<h2 id='ski-availability' class='center'>SKI LESSON AVAILABILITY <br> <span><a href="#snowboard-availability" class="btn btn-warning btn-sm">Jump to Snowboard Availability</a> </span></h2>
<div class="calendar-container">
  <%= month_calendar(sections: :date, events:@ski_sections) do |date, sections| %>
    <div class="day-within-week">
    	<%= date.strftime('%-d') %>
      <div class="daily-summary">        
      </div>
    <% sections.sort_by{| section | section.slot }.to_a.each do | section | %>
        <% if section.remaining_capacity > 0 %>
       		 <%= link_to "#{section.slot_short}", section, class: 'btn btn-xs btn-calendar btn-default' %>
           <% if section.remaining_capacity <= 2 %>
              <div class="remaining-capacity center"> <span class="smaller-text"><%= section.capacity_text %></span> </div>
            <% end %>
        <% else %>
        	<a href="#soldOut" class='btn btn-xs btn-warning'><%= section.slot_short %> - SOLD OUT</a>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>

<div class="buffer"></div>

<h2 id="snowboard-availability" class='center'>SNOWBOARD LESSON AVAILABILITY<br> <span><a href="#ski-availability" class="btn btn-warning btn-sm">Jump to Ski Lesson Availability</a> </span></h2>
<div class="calendar-container">
  <%= month_calendar(sections: :date, events:@snowboard_sections) do |date, sections| %>
    <div class="day-within-week">
    	<%= date.strftime('%-d') %>
      <div class="daily-summary">
      </div>
    <% sections.sort_by{| section | section.slot }.to_a.each do | section | %>
        <% if section.remaining_capacity > 0 %>
       		 <%= link_to "#{section.slot_short}", section, class: 'btn btn-xs btn-default' %>
           <% if section.remaining_capacity <= 2 %>
              <div class="remaining-capacity center"> <span class="smaller-text"><%= section.capacity_text %></span> </div>
          <% end %>
        <% else %>
        	<a href="#soldOut" class='btn btn-xs btn-warning'><%= section.slot_short %> - SOLD OUT</a>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>
<div class="buffer"></div>

</section>

<section id="mobile-view" class="hidden-unless-mobile">

<div id="calendar"></div>

</div>
