<div class='container'>
<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Instructor</th>
      <th>Time Slot</th>
      <th>Sport ID</th>
      <th>Sport</th>
      <th>Capacity</th>
      <th>Current head count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.id %></td>
        <td><%= section.date %></td>
        <td><%= section.instructor ? section.instructor.name : "TBD" %></td>
        <td><%= section.slot %></td>
        <!-- <td><%= section.level %></td> -->
        <td><%= section.sport_id %></td>
        <td><%= section.sport_name %></td>
        <td><%= section.capacity %></td>
        <td><%= section.student_count %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
</div>