<% title "Granlibakken Sled Hill" %>
<% meta_tag :description, "Granlibakken Sled Hill is the perfect opportunity for families to enjoy a safe and adrenaline filled winter experience." %>

<section id="header-creative" class="top-section">
    <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
        <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/gb-landscape.jpeg'); height: 100%; width: 100%;" data-href=""> </div>
    </ul>
<!--         <div id="homepage-background">
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
        </div>
    -->
 <!--         <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
            </li>
        </ul>
    -->        
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1 id="homeHeading" class="shadow-box-highlight">Private Lessons Made Perfect<br> -->
                <h1 id="homeHeading" class="home-header"><b>SNOWSPORTS </b> at <b>GRANLIBAKKEN</b><br>
                </h1>
                <div class="shadow-box-highlight">
                    <h3>
                        <span class="smaller-text">Family Friendly. </span> <br>
                        <span class="smaller-text">Lowest Prices. </span> <br>
                        <span class="smaller-text">Simple & Safe Winter Fun. </span> <br>
                        <!-- <span class="smaller-text">Tickets now on Sale!</span> -->
                    </h3>
                <div class="">  <!-- This can be hidden and removed while live. -->
                    <h3>Join us for a special night-time sledding session on New Years Eve to close out 2020!</h3>
                    <h4><a href="/sledding/book-new-years-eve" class="btn btn-tertiary btn-xl page-scroll">Book Sledding on New Years Eve!</a></h4>
                    <hr class="hr-white">
                </div>
                <h4><a href="#sledding-tickets" class="btn btn-primary btn-xl page-scroll">Book Sledding Tickets</a></h4>
                <h4><a href="#lift-tickets" class="btn btn-secondary btn-xl page-scroll">Book Lift Tickets</a></h4>
                <h4><a href="#snowplay-tickets" class="hidden btn btn-tertiary btn-xl page-scroll">Snowplay for Toddlers</a></h4>
                <h4><span class="smaller-text">Walk-in purchases are severely limited for 2020/21. Book online to secure your spot!</span></h4>
                <hr class="hr-white">
                <div class="">
                    <p class="welcome-subheader"> Granlibakken is Tahoe's oldest continuously operating ski area, founded in the 1920s. 
                        <span class="hidden-unless-desktop"> 
                        Our historic ski & sled hill is split between a beginner and intermediate ski hill and a 300-foot long sled hill, perfect for any family adventure.
                        </span>
                    </p>
                    <span class="welome-ctas">
                        <!-- <a href="#book-a-lesson" class="btn btn-secondary btn-lg page-scroll"> Lift & Lesson prices</a> -->
                    </span>
                </div>
                <hr class="hr-white">
                </p>
                <span class="welome-ctas">
                </span>
            </div>
        </div>
    </div>
</section>

<% if Location.find(24).partner_status == 'Inactive' %>
    <% @cta_visibility = "hidden" %>
    
        <section class="bg-white" id="buy-tickets" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs12">
                        <h2 class="warning">
                            Unfortunately online sledding tickets are currently not available. Please contact guest services at (530) 583-4242 for the latest information on when the sled hill will be open.
                        </h2>
                    </div>
                </div>
            </div>
        </section>

    <% else %>    
    <% @cta_visibility = "active" %>

<% end %>    

<div class=<%=@cta_visibility%> >
    <section class="bg-white" id="sledding-tickets">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12">
                    <%= render "lessons/lesson_new_form" %>
                    <hr class="light text-center">
                </div>
            </div>
        </div>
    </section>
</div>

<div class=<%=@cta_visibility%> >
    <section class="bg-white" id="lift-tickets">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12">
                    <%= render "lessons/lift_tickets_new_form" %>
                    <hr class="light text-center">
                </div>
            </div>
        </div>
    </section>
</div>

<div class=<%=@cta_visibility%> >
    <section class="bg-white hidden" id="snowplay-tickets">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12">
                    <%= render "lessons/snowplay_new_form" %>
                    <hr class="light text-center">
                </div>
            </div>
        </div>
    </section>
</div>


<section id="daily-update" class="bg-primary">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h2 class="center weather-subheader">Check out the current weather below, or read the 
                <a href="http://granlibakken.com/snow-report/" class="green-link" target="_blank">latest snow report here</a> for full details on the ski hill conditions.</h2>
                <div class="weather-widget-container">
                    <a href="https://www.accuweather.com/en/us/tahoe-city-ca/96145/current-weather/337269" class="aw-widget-legal">
                    </a><div id="awtd1509920006309" class="aw-widget-36hour"  data-locationkey="337269" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1509920006309" data-editlocation="false"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                </div>
            </div>
            <div class="twitter-embed">                    
                <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The storm door is OPEN for Tahoe as we kick off 2017! <a href="https://t.co/ZVq38pZtJb">https://t.co/ZVq38pZtJb</a> via <a href="https://twitter.com/TahoeWeather">@TahoeWeather</a> <a href="https://t.co/p4zMo9LD0Q">pic.twitter.com/p4zMo9LD0Q</a></p>&mdash; OpenSnow (@findOpenSnow) <a href="https://twitter.com/findOpenSnow/status/815318020524539904">December 31, 2016</a></blockquote> -->
                <!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            </div>
        </div>
</section>



<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs12 text-center">
                <hr class="hr-black">
                <h3 class="beta-sign-up-offer" id="subscribe">
                   Not ready to book today? <br> Enter your email below to subscribe to free weekly offers and Tahoe weather reports.
               </h3>
               <div class="col-md-12 beta_user-sign-up">
                <%= form_for(@beta_user = BetaUser.new) do |f| %>
                    <% if @beta_user.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                          <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                              <% end %>
                          </ul>
                        </div>
                    <% end %>
                    <div class="email-input">
                        <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                        <%= f.submit "Subscribe for Updates", class:"btn btn-success btn-lg page-scroll" %>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading black-text">Any Questions? Let us know!</h2>
                <hr class="hr-black">
                <p class="black-text">Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <a href="ph:5305834242" class="black-text">(530) 583-4242</a>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:frontdesk@granlibakken.com" class="black-text" target="_blank">frontdesk@granlibakken.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- <script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script> -->