<% title "Granlibakken Ski & Snowboard Lessons" %>
<% meta_tag :description, "Granlibakken is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

<section id="header-creative" class="top-section">
    <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
        <div class="mc-image bg-photo" title="background photo" style="background-image: url('http://rockwoodlodge.com/lake-tahoe/wp-content/uploads/2012/07/winter.jpg'); height: 100%; width: 100%;" data-href=""    
    </div>
</ul>
<!--         <div id="homepage-background">
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
        </div>
    -->
 <!--         <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
            </li>
        </ul>
    -->        
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1 id="homeHeading" class="shadow-box-highlight">Private Lessons Made Perfect<br> -->
                <h1 id="homeHeading" class="shadow-box-highlight home-header"><b>LEARN TO SKI</b> for LESS <b></b><br>
                    <span class="smaller-text">Lowest Prices. Certified instructors. No morning hassle.</span>
                    <span class="smaller-text"></span>
                </h1>
                <h4>
                    <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Lesson Today</a>
                </h4>
                <!-- <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
                <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Did you know that Granlibakken was the <a href="resorts" class="green-link">first ski resort</a> in Tahoe, founded as Olympic Hill in 1924?  <br class="hidden-unless-desktop"> Our historic ski hill is perfect for beginners and just minutes from your room. Lesson slots are limited, so reserve your spot today. 
                    </p>
                    <span class="welome-ctas">
                        <a href="#pricing" class="btn btn-secondary btn-lg page-scroll"> Lift & Lesson prices</a>
                        <!-- <a href="/tahoe-season-passes" class="btn btn-secondary btn-lg page-scroll">Shop Season Passes</a> -->
                    </span>
                </div>
                <hr class="subheader-divider">
                <div class="shadow-box-highlight">
                </p>
                <span class="welome-ctas">
                </span>
            </div>
        </div>
    </div>
</section>

<section id="daily-update" class="bg-primary">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h2 class="center weather-subheader">Check the current weather below, or read the latest from
                <a href="http://opensnow.com/dailysnow/tahoe" class="green-link" target="_blank">OpenSnow.com</a> to get details on the longterm forecast.</h2>
                <div class="weather-widget-container">
                    <a href="https://www.accuweather.com/en/us/homewood-ca/96141/weather-forecast/2143101" class="aw-widget-legal">
                    </a><div id="awtd1489602211676" class="aw-widget-36hour"  data-locationkey="2143101" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1489602211676" data-editlocation="false" data-lifestyle="ski"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                </div>
            </div>
            <div class="resort-photo-container">
                <!-- <img src="https://s3.amazonaws.com/snowschoolers/weather-mar15.png" alt=" forecast" class="hp-photo-margin"> -->
                <!-- <img src="https://s3.amazonaws.com/snowschoolers/weekend-weather-jan25.png" alt="homewood" class="resort-photo"> -->
            </div>
            <div class="twitter-embed">                    
                <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The storm door is OPEN for Tahoe as we kick off 2017! <a href="https://t.co/ZVq38pZtJb">https://t.co/ZVq38pZtJb</a> via <a href="https://twitter.com/TahoeWeather">@TahoeWeather</a> <a href="https://t.co/p4zMo9LD0Q">pic.twitter.com/p4zMo9LD0Q</a></p>&mdash; OpenSnow (@findOpenSnow) <a href="https://twitter.com/findOpenSnow/status/815318020524539904">December 31, 2016</a></blockquote> -->
                <!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            </div>
        </div>
    </section>
    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Why Granlibakken?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Booking a ski or snowboard lesson should be <b>fast, easy, </b>and <b>convenient</b>.
                </h2>
                <hr class="deposit-hr-navy">
                <div class="row">
                    <p class="why-snowschoolers-text navy-text">
                        At Granlibakken, we believe that <b> anyone </b> can learn how to ski or snowboard, without having to spend thousands of dollars. Whether its your first time on snow, or whether you're an experienced skier looking to take your skills to the next level, we're here to ensure you have the <b>perfect lesson experience</b>.
                    </p>
                    <hr class="deposit-hr-navy">
                </div>
            </div>
        </div>
    </section>


    <section id="private-group-comparison" class="bg-primary hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading white-text group-vs-private-header">Should you take a group or private lesson?</h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Group Lessons</b> = best price </span></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/group-photo.jpg" class="comparison-photo" alt="group-lesson"/>
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Beginner bundle (lift pass, rental, lesson): $99</li>
                        <li>Standard group lesson: 2.5 hours</li>
                        <li>Students per group: 8 students</li>
                        <li>Days needed to master the basics: 3 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total red bold">Total: 3 days, $297 </h2>
                </div>
                <div class="hidden-unless-mobile col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Private lessons </b> = best value</h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="comparison-photo" alt="private-lesson">
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Half-day morning lesson: $449</li>
                        <li>Lift ticket & rental: $99 </li>
                        <li>4 hours of dedicated 1:1 instruction </li>
                        <li>Days needed to ski with confidence: 1 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total green bold">Total: 1 day, $548 </h2>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <!-- <h4 class="">**All rate above reflect peak holiday rates; actual rates may be lower.</h4> -->
            </div>
        </div>
    </section>

    <%= render partial: 'prices' %>

    <section id="how-it-works" class="bg-primary">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">What to Expect</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Request a Lesson</h3>
                        <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                        <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Lesson Confirmation</h3>
                        <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">When your reservation is booked, our automated reservations system begins reaching out our instructors to determine the best available instructor, and notifies you as soon as your lesson has been confirmed.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Learn from a Pro</h3>
                        <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                        <p class="navy-text">All of our instructors have earned a minimum level 1 certification from a nationally recognized program such as the Professional Ski Instructor Association (PSIA). </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Share the Love</h3>
                        <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">After your lesson, you'll receive feedback from your instructor about your progress, and we also ask that you rate the quality of your lesson experience.</p>
                        <!-- <p class="text-muted">Rate the quality of your Granlibakken experience, and have the option of making a donation to help sustain the program. 100% of donations go to our instructors.</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
          <hr class="deposit-hr-navy">
      </div>
      <div class="container text-center">
        <div class="call-to-action">
            <h2 class="navy-text">Sign up for free and book your first lesson today!</h2>
            <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started</a>
        </div>
    </div>
</section>

<section class="bg-white" id="tickets-and-rentals">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs12 text-center">
                <%= render "welcome/tickets-and-rentals" %>
                <hr class="light text-center">
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs12 text-center">
                <h2 class="section-heading">Life is stressful.  <br> Planning your ski vacation shouldn't be.</h2>
                <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson today</a>
                <hr>
                <h3 class="beta-sign-up-offer" id="subscribe">
                   Not ready to book today? <br> Enter your email below to subscribe to free weekly tips.
               </h3>
               <div class="col-md-12 beta_user-sign-up">
                <%= form_for(@beta_user = BetaUser.new) do |f| %>
                <% if @beta_user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                  <ul>
                      <% @beta_user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                  </ul>
              </div>
              <% end %>
              <div class="email-input">
                <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                <%= f.submit "Subscribe for Updates", class:"btn btn-success btn-lg page-scroll" %>
                <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
            </div>
            <% end %>
        </div>
        <!-- <h3 class="text-white">Instructors at Granlibakken loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
        <div class="col-md-8 col-md-offset-2">
                     <!-- <h3> Beyond convenience, our <b> dynamic matching algorithm</b> ensures an expert Granlibakken instructor is always available. Book in advance to lock in early season rates, with one-hour early-bird specials <b>starting at just $89</b>.
                     </h3> -->
                     <!-- <h3>
                     Booking last minute? Not a problem either. Prices only surge when it's necessary to get more instructors out on the hill.
                 </h3> -->
             </div>
         </div>
     </div>
 </div>
</section>

<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading white-text">Any Questions? Let us know!</h2>
                <hr class="hr-white">
                <p class="white-text">Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p class="white-text">(800)543-3221</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:info@snowschoolers.com" class="white-text" target="_blank">info@granlibakken.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- <script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script> -->