<div class="col-md-12">
        <%= form_tag confirm_reservation_path do %>

          <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
          <article class="center">
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>
<!-- <div class="row">
    <div class="col-xs-4">
        <h1>TEST TITLE</h1>
    </div>
    <div class="col-xs-8">
        <h1>TEST Section</h1>
    </div>       
</div>    -->      

            <h1>Authorize Payment</h1>
            <div id="booking-details-container" class="booking-details">
              <div class="row">
                <div class="col-xs-4">
                  <b>Date:</b>
                </div>
                <div class="col-xs-8">
                    <span class="left">
                     <%= @lesson.lesson_time.date.strftime("%b %-d, %Y") %>
                    </span>
                </div>
              </div>                              
              <div class="row">
                <div class="col-xs-4">
                  <b>Price:</b>
                </div>
                <div class="col-xs-8">
                  <% amount = @lesson.price.to_f*100 %>
                  <span class="center">
                    <%= number_to_currency(@lesson.price) %>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <ul class="student-list-confirm-reservation">
                    <% @lesson.students.each do |student| %>
                      <li><%= student.name %>, age <%= student.age_range %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>

              
            <div class="col-md-12">
              <label class="amount">
              </label>
              <%= link_to 'Edit Reservation', edit_lesson_path(@lesson), class: "center btn btn-sm btn-primary" %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Thanks for booking at Granlibakken!"
                      data-name="Granlibakken Sledding"
                      data-image="http://granlibakken.com/wp-content/uploads/cropped-tin-g-32x32.png"
                      data-amount=<%= amount %>
                      data-locale="auto"
                      data-zip-code="true">
              </script>
                <p class="nonrefundable_disclaimer">
                  <br>
                    You may cancel or modify your sledding hill ticket up to 24 hours before the day of your reservation. Any cancellation made less than 24 hours before the lesson time will not be refundable, regardless of weather conditions. Please email <a href="mailto:frontdesk@granlibakken.com">frontdesk@granlibakken.com</a> to initiate a cancellation.
                </p>
            </div>

        <% end %>
<div class="col-md-12">
  <hr class="deposit-hr-navy">
</div>

</div>
