<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
    </header>

    <% if ENV['HOST_DOMAIN'] == "localhost:3000" || current_user && (current_user.user_type == "Granlibakken Employee" || current_user.user_type == "Ski Area Partner" || current_user.email == "brian@snowschoolers.com") %>
    <div id="autofill-container" class="admin-viewable">
      <a href="#fill" id="autofill_complete_form" class="btn btn-success">Autocomplete all fields</a> <br>
      <% if session[:refund] == true %>
        <h3> To issue a full refund: </h3>
          <ol>
            <li>
                <a href="https://dashboard.stripe.com/payments" id="stripe-refund" target="_blank" class="btn btn-danger">First Issue Refund in Stripe</a> <br><br>
            </li>
            <li><%= link_to 'Mark Lesson as Refunded', issue_full_refund_path(@lesson), method: :post, class: "btn btn-warning" %></li>
          </ol>
                
        <h3> To issue a partial refund: </h3>
          <ol>
            <li>
              <a href="https://dashboard.stripe.com/payments" id="stripe-refund" target="_blank" class="btn btn-danger"> First issue a partial refund in Stripe.</a>
            </li>
            <li>Enter the refund reason as 'Package info' below, along with the final amount due as 'Total Price'. </li>
            <li>Then click to <a href="#finalize-lesson" class="btn btn-warning">Re-confirm the reservation</a> </li>
          </ol>
      <% end %>
    </div>
    <% end %>

    <%= semantic_form_for @lesson do |f| %>
      <%= f.semantic_errors :lesson %>
      <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
      <% if current_user && (current_user.user_type == "Granlibakken Employee" || current_user.user_type == "Ski Area Partner" || current_user.email == "brian@snowschoolers.com") %>
      <div id="available-lessons" class="admin-viewable ">
          <div class="col-md-12 vertical-padding">
          <h4> ADMIN ONLY: Select user email to assign this lesson to a new requester.</h4>
              <div class="col-md-4">
                <label> Assign to User: </label> <br>
                <%= f.select :requester_id, options_from_collection_for_select(User.all.sort {|a,b| a.username_for_admin <=> b.username_for_admin}, :id, :username_for_admin, selected:@lesson.requester_id), include_blank:true %>
              </div>
              <div class="col-md-4">
                <label>Number of Days</label>
                <%= f.input :num_days, as: :string, placeholder: "How many consecutive days?", label: false %>
              </div>
            <div class="col-md-4">
                <label>Includes a lift ticket and/or rental package?</label>
                <%= f.input :includes_lift_or_rental_package, as: :radio, :collection=> [true, false], label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label>Is gift voucher?</label>
                <%= f.input :is_gift_voucher, as: :radio, :collection=> [true, false], label: false %>
            </div>
            <div class="col-md-4">
                <label>Gift Recipient Name</label>
                <%= f.input :gift_recipient_name, as: :string, placeholder: "Full Name", label: false %>
            </div>
            <div class="col-md-4">
                <label>Gift Recipient Email</label>
                <%= f.input :gift_recipient_email, as: :string, placeholder: "Email", label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label>Package info</label>
                <%= f.input :package_info, as: :text, placeholder: "Includes one adult lift ticket for $64", label: false %>
            </div>
            <div class="col-md-2">
              <label>Direct Lesson Cost</label>
              <%= f.input :lesson_cost, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
            <div class="col-md-2">
              <label>Non-Lesson Cost</label>
              <%= f.input :non_lesson_cost, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
            <div class="col-md-2">
              <label>Total Price</label>
              <%= f.input :lesson_price, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
          </div>
        </div>
      <% end %>

      <div class='row'>
        <div class="col-md-6">
          <h4><strong>Basic Info</strong></h4>
          <% if current_user.nil? || current_user.email == "brian@snowschoolers.com" %>
          <div class='row'>
            <div class="col-md-12">
              <label>Email</label>
                <%= f.email_field :guest_email, placeholder: "email@example.com", class: "form-control", type: 'email', required:true, label: false %>
            </div>
          </div>
          <% end %>
          <div class='row'>
            <div class="col-md-6">
              <label>Your Name</label>
              <%= f.text_field :requester_name, value: @lesson.requester_name, class: "form-control", required: true, label: false %>
            </div>
            <div class="col-md-6">
              <label>Phone</label> <span class="text-smaller"></span>
              <%= f.text_field :phone_number, as: :number, placeholder: 'xxx-xxx-xxxx', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-6">
              <label>Address</label> <span class="text-smaller"></span>
              <%= f.text_field :street_address, placeholder: '1234 StreetName', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-6">
              <label>City</label> <span class="text-smaller"></span>
              <%= f.text_field :city, placeholder: 'San Francisco', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-3">
              <label>State</label> <span class="text-smaller"></span>
              <%= f.text_field :state_code, placeholder: 'CA', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-3">
              <label>Zip Code</label> <span class="text-smaller"></span>
              <%= f.text_field :zip_code, as: :number, placeholder: '94102', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-6">
              <label>Driver's License #</label> <span class="text-smaller"></span>
              <%= f.text_field :drivers_license, placeholder: 'D555-1111', class: 'form-control', required:false, include_blank:false %>
            </div>

          </div>
          <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
            <div class='row'>
              <div class="col-md-4">
                <label>Date</label>
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', value:@date, required:true }, placeholder: 'Pick a date', label: false %>
                <!-- <span class="search-area-icon"></span> -->
              </div>

          <% end %>
            <div class="col-md-4">
              <label>Price</label>
                <h2> <span id="lesson-price"><%= number_to_currency(Product.find(1).price) %></span></h2>
                <div id="calendar-status" class="hidden"><%= @lesson.lookup_calendar_period(@lesson.date) %></div>
            </div>
          </div>
          <div id='lesson_students_input'>
            <%= f.semantic_fields_for :students do |student| %>
              <%= render 'student_fields', f: student %>
            <% end %>
            <h3 class="text-warning hidden" id="ability-level-warning">Warning - students must all be within one level of each other in order to participate in the same lesson.</h3>
            <div class='links'>
              <%= link_to_add_association 'Add Another Participant', f, :students, limit: 2, class: 'btn btn-default', id:'add-student-button' %>
            <h4 class="text-danger hidden" id="max-students-warning">Note: only 3 students may be registered at a time. To book a private group lesson for 4 or more students, please visit <a href="www.snowschoolers.com/granlibakken" class="" target="_blank">www.snowschoolers.com/granlibakken</a>
            </h4>
            </div>
            <%= f.semantic_errors :students %>
          </div>          

          <div class="row">
          </div>

          <hr>

          <h4><strong>Release of Liability</strong></h4>

          <div class="col-md-12">
            <span class="remember-box checkbox ">
              <label for="rememberme">
                  <%= f.check_box :terms_accepted, id: "rememberme", required: true  %>
                  I understand that the snow saucer furnished could be HAZARDOUS to my well-being while snow sledding. I understand that connecting two saucers together or creating a chain of saucers is not permitted, except parent-child, when a child is incapable to sled by himself. I have read and fully agree to the <span><a href="/release_of_liability" target="_blank" class="black-link">Release of Liability</a></span>terms, and by checking this box, I AGREE TO RELEASE FROM ANY LEGAL LIABILITY AND AGREE NEVER TO SUE GRANLIBAKKEN RESORT for any damage, injury or death to me and/or my child arising from participation in the activities or use the facilities of Granlibakken, regardless of cause. Addtionally, I have read and agree to the <span><a href="/terms_of_service" target="_blank" class='black-link'>Terms of Service</a></span> of this website.
              </label>
            </span>
          </div>

          <div class="row">
          </div>


          <h4>Optional Information<strong></strong></h4>

          <div class="col-md-12">
            <label>Do you have a lodging reservation at Granlibakken as well?</label>
            <%= f.select :lodging_guest, [['No, I have other accommodations.', false],['Yes, I have already made my reservation.', true]], {}, {class: 'form-control needs-rental', required:false, include_blank:true} %>
          </div>
          <% if @lesson.lodging_guest == true %>
            <div class="col-md-12">
                <label>Room Reservation ID</label> <span class="text-smaller"></span>
                <%= f.text_field :lodging_reservation_id, placeholder: 'xxxxxx', class: 'form-control', required:false, include_blank:"Enter your room reservation id" %>
            </div>          
            <% else %>
            <div class="col-md-12 lodging-reservation-input hidden">
              <label>Room Reservation ID</label> <span class="text-smaller"></span>
              <%= f.text_field :lodging_reservation_id, placeholder: 'xxxxxx', class: 'form-control', required:false, include_blank:"Enter your room reservation id" %>
            </div>          
          <% end %>

          <div class="col-md-9">
            <% button_text = "Continue to Payment" %>
          </div>
          <div class="col-md-3">
            <%= f.input :state, as: :hidden, input_html: { value: @state } %>
            <% if @lesson.product_name && @lesson.product_name.length !=0 %>
            <%= f.input :product_id, as: :hidden, input_html: { value: Product.where(location_id:@lesson.requested_location,calendar_period:@lesson.location.calendar_status,name:@lesson.product_name).first.id } %>
            <% end %>
            <%= f.submit button_text, class: 'btn sign-up-btn pull-right', id: 'finalize-lesson' %>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6"></div>
      </div>
    <% end %>

  </div>
</div>

<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/gb-sitting.jpeg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
