<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
    </header>

    <% if ENV['HOST_DOMAIN'] == "localhost:3000" || current_user && (current_user.user_type == "Granlibakken Employee" || current_user.user_type == "Ski Area Partner" || current_user.email == "brian@snowschoolers.com") %>
    <div id="autofill-container" class="admin-viewable">
      <a href="#fill" id="autofill_complete_form" class="btn btn-success">Autocomplete all fields</a> <br>
      <h3>Total lift tickets already sold for this day (max 50): <%=@lesson.current_day_lift_tickets_sold %> tickets.</h3>
      <% if session[:refund] == true %>
        <h3> To issue a full refund: </h3>
          <ol>
            <li>
                <a href="https://dashboard.stripe.com/payments" id="stripe-refund" target="_blank" class="btn btn-danger">First Issue Refund in Stripe</a> <br><br>
            </li>
            <li><%= link_to 'Mark Lesson as Canceled', issue_full_refund_path(@lesson), method: :post, class: "btn btn-danger" %></li>
          </ol>

        <h3> To issue a partial refund: </h3>
          <ol>
            <li>
              <a href="https://dashboard.stripe.com/payments" id="stripe-refund" target="_blank" class="btn btn-danger"> First issue a partial refund in Stripe.</a>
            </li>
            <li>Enter the refund reason as 'Package info' below, along with the final amount due as 'Total Price'. </li>
            <li>Then click to <a href="#finalize-lesson" class="btn btn-warning">Re-confirm the reservation</a> </li>
          </ol>
      <% end %>
    </div>
    <% end %>

    <%= semantic_form_for @lesson do |f| %>
      <%= f.semantic_errors :lesson %>
      <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
      <% if current_user && (current_user.user_type == "Granlibakken Employee" || current_user.user_type == "Ski Area Partner" || current_user.email == "brian@snowschoolers.com") %>
      <div id="available-lessons" class="admin-viewable ">
          <div class="row">
            <div class="col-md-6">
                <label>Package info</label>
                <%= f.input :package_info, as: :text, placeholder: "Includes one adult lift ticket for $64", label: false %>
            </div>
            <div class="col-md-2">
              <label>Direct Lesson Cost</label>
              <%= f.input :lesson_cost, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
            <div class="col-md-2">
              <label>Non-Lesson Cost</label>
              <%= f.input :non_lesson_cost, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
            <div class="col-md-2">
              <label>Total Price</label>
              <%= f.input :lesson_price, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
          </div>
        </div>
      <% end %>

      <div class='row'>
        <div class="col-md-6">
        <%if @lesson.skihill_capacity_remaining <=10 && @lesson.skihill_capacity_remaining >0 %> 
            <h2 class="text-danger">
              Warning: there's only <%=@lesson.skihill_capacity_remaining%> ticket(s) available for this session. Book now before we sell out!
            </h2>
        <%elsif @lesson.skihill_capacity_remaining <=0  %> 
            <h2 class="text-danger">
              Unfortunately this time slot is SOLD OUT. Please try a different time slot. If you cannot find an available slot, please email us at <a href="mailto:tickets@granlibakken.com?subject=Sledding%Capacity?" target="_blank" class="navy-link">tickets@granlibakken.com</a> and we can tell you what days and times still have availability.
            </h2>
        <%end%>
          <h4><strong>Customer Info</strong></h4>
          <% if current_user.nil? || current_user.email == "brian@snowschoolers.com" %>
          <div class='row'>
            <div class="col-md-12">
              <label>Email</label>
                <%= f.email_field :guest_email, placeholder: "email@example.com", class: "form-control", type: 'email', required:true, label: false %>
            </div>
          </div>
          <% end %>
          <div class='row'>
            <div class="col-md-6">
              <label>Your Name</label>
              <%= f.text_field :requester_name, value: @lesson.requester_name, class: "form-control", required: true, label: false %>
            </div>
            <div class="col-md-6">
              <label>Phone</label> <span class="text-smaller"></span>
              <%= f.text_field :phone_number, as: :number, placeholder: 'xxx-xxx-xxxx', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-6">
              <label>Address</label> <span class="text-smaller"></span>
              <%= f.text_field :street_address, placeholder: '1234 StreetName', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-6">
              <label>City</label> <span class="text-smaller"></span>
              <%= f.text_field :city, placeholder: 'San Francisco', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-3">
              <label>State</label> <span class="text-smaller"></span>
              <%= f.text_field :state_code, placeholder: 'CA', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-3">
              <label>Zip Code</label> <span class="text-smaller"></span>
              <%= f.text_field :zip_code, as: :number, placeholder: '94102', class: 'form-control', required:true, include_blank:false %>
            </div>
<!--             <div class="col-md-6">
              <label>Driver's License #</label> <span class="text-smaller"></span>
              <%= f.text_field :drivers_license, placeholder: 'D555-1111', class: 'form-control', required:false, include_blank:false %>
            </div> -->

            <div class="col-md-6">
              <label>Price</label>
                  <% if @lesson.slot == 'Adult Lift Ticket' %>
                      <% ticket_price = 40.00 %>
                    <% elsif @lesson.slot == 'Child Lift Ticket' %> 
                      <% ticket_price = 30.00 %>
                    <% else %> 
                      <% ticket_price = 0 %>
                  <% end %>

                  <% if @lesson.lookup_calendar_period(@lesson.date) == 'Holiday' %>
                    <% ticket_price = ticket_price + 5.00 %>
                  <% end %>
                <h2> <span id="lesson-price"> <%= number_to_currency(ticket_price) %> </span> </h2>
                <div id="calendar-status" class="hidden"><%= @lesson.lookup_calendar_period(@lesson.date) %></div>
            </div>

          <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
            <div class='row'>
              <div class="col-md-6">
                <label>Date</label>
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker2', value:@lesson.date, required:true, autocomplete:"off" }, placeholder: 'Pick a date', label: false %>
              </div>
              <div class="col-md-6">
                <label>Ticket Type</label>
                <%= lt_f.input :slot, as: :select, collection: LIFT_TICKET_SLOTS, selected:@lesson.lesson_time.slot, include_blank: 'Select Time', label: false, required:true %>
              </div>
          <% end %>
          </div>

          </div>

          <!-- <h4><strong>Slot found: <%=@slot %></strong></h4> -->
          <h4><strong>Ticket-holder Info</strong></h4>

          <h4 class="text-warning"">Please add the names and ages of each lift ticket recipient, including your own name from above if your are participating. If you are purchasing multiple tickets for kids and adults, the final price will be calculated on the following page.</h4>
          <div id='lesson_students_input'>
            <%= f.semantic_fields_for :students do |student| %>
              <%= render 'student_fields', f: student %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Another Participant', f, :students, limit: 20, class: 'btn btn-default', id:'add-student-button' %>
            <h4 class="text-danger hidden" id="max-students-warning">Note: only 20 students may be registered at a time. To book tickets for 20 or more, please visit make separate purchases
            </h4>
            </div>
            <%= f.semantic_errors :students %>
          </div>

          <div class="row">
          </div>

          <hr>

      </div>

      <div class="row">
        <div class="col-md-6">
          <h4><strong>Release of Liability</strong>
            <a href="#accept-terms" class="btn btn-default"> Scroll to bottom</a>
          </h4>

          <div class="col-md-12">
            <span class="remember-box checkbox ">
              <label for="rememberme">

                <%= render partial: 'lessons/release_of_liability_text' %>

                <p id="accept-terms">
                  <%= f.check_box :terms_accepted, id: "rememberme", required: true  %>
                  By checking this box, I acknowledge that I have read and fully agree to the <span>
                    <%= link_to 'Release of Liability', release_of_liability_path(@lesson.id), target:"_blank", class:"black-link", target:"_blank" %></span> and the <span><a href="/terms_of_service" target="_blank" class='black-link'> Terms of Service </a></span> governing this website.
                </p>

              </label>
            </span>
          </div>

          <div class="row">
          </div>

        </div>
      </div>
      <h4>Optional Information<strong></strong></h4>
          <% if session[:promo_code] %>
          <div class="col-md-6">
            <label class="lesson-label">Promo Code</label>
          <% if PromoCode.where(promo_code:session[:promo_code]).count >= 1 %>
              <% pc_id = PromoCode.where(promo_code:session[:promo_code]).first.id %>
              <%= f.select :promo_code_id, [[session[:promo_code],pc_id],["",nil] ], {}, {class: 'form-control', required:false, include_blank:false} %>
            <% else %>
              <%= f.text_field :objectives, as: :text, placeholder: 'GROUPON_XXXX-YYYY-ZZZZZZ', class: 'form-control', required:true, include_blank:false %>
          <% end %>
          </div>
          <% end %>

          <div class="col-md-6">
            <label>Do you have a lodging reservation at Granlibakken as well?</label>
            <%= f.select :lodging_guest, [['No, I have other accommodations.', false],['Yes, I have already made my reservation.', true]], {}, {class: 'form-control needs-rental', required:false, include_blank:true} %>
          </div>
          <% if @lesson.lodging_guest == true %>
            <div class="col-md-6">
                <label>Room Reservation ID</label> <span class="text-smaller"></span>
                <%= f.text_field :lodging_reservation_id, placeholder: 'xxxxxx', class: 'form-control', required:false, include_blank:"Enter your room reservation id" %>
            </div>
            <% else %>
            <div class="col-md-6 lodging-reservation-input hidden">
              <label>Room Reservation ID</label> <span class="text-smaller"></span>
              <%= f.text_field :lodging_reservation_id, placeholder: 'Enter ID from reservation confirmation email', class: 'form-control', required:false, include_blank:"Enter your room reservation id" %>
            </div>
          <% end %>

          <div class="col-md-9">
            <% button_text = "Add to Cart" %>
          </div>
          <div class="col-md-3">
            <%= f.input :state, as: :hidden, input_html: { value: @state } %>
            <% if @lesson.product_name && @lesson.product_name.length !=0 %>
            <!-- hacky shit >> for some reason getting nil error as if products can't be found -->
            <!-- %= f.input :product_id, as: :hidden, input_html: { value: Product.where(location_id:@lesson.requested_location,calendar_period:@lesson.lookup_calendar_period(self.lesson_time.date),name:@lesson.slot).first.id } %> -->
            <% end %>
            <%= f.submit button_text, class: 'btn sign-up-btn pull-right', id: 'finalize-lesson' %>
          </div>
    <% end %>

  </div>
</div>

<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/gb-sitting.jpeg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
