<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h1>Update Your Lesson</h1>
    </header>

    <% if ENV['HOST_DOMAIN'] == "localhost:3000" || current_user && (current_user.user_type == "Granlibakken Employee" || current_user.user_type == "Ski Area Partner" || current_user.email == "brian@snowschoolers.com") %>
    <div id="autofill-container" class="admin-viewable">
      <a href="#fill" id="autofill_complete_form" class="btn btn-success">Autocomplete all fields</a> <br>
      <% if session[:refund] == true %>
        <h3> To issue a full refund: </h3>
          <ol>
            <li>
                <a href="https://dashboard.stripe.com/payments" id="stripe-refund" target="_blank" class="btn btn-danger">First Issue Refund in Stripe</a> <br><br>
            </li>
            <li><%= link_to 'Mark Lesson as Refunded', issue_full_refund_path(@lesson), method: :post, class: "btn btn-warning" %></li>
          </ol>
                
        <h3> To issue a partial refund: </h3>
          <ol>
            <li>
              <a href="https://dashboard.stripe.com/payments" id="stripe-refund" target="_blank" class="btn btn-danger"> First issue a partial refund in Stripe.</a>
            </li>
            <li>Enter the refund reason as 'Package info' below, along with the final amount due as 'Total Price'. </li>
            <li>Then click to <a href="#finalize-lesson" class="btn btn-warning">Re-confirm the reservation</a> </li>
          </ol>
      <% end %>
    </div>
    <% end %>

    <%= semantic_form_for @lesson do |f| %>
      <%= f.semantic_errors :lesson %>
      <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
      <% if current_user && (current_user.user_type == "Granlibakken Employee" || current_user.user_type == "Ski Area Partner" || current_user.email == "brian@snowschoolers.com") %>
      <div id="available-lessons" class="admin-viewable ">
          <div class="col-md-12 vertical-padding">
          <h4> ADMIN ONLY: Select user email to assign this lesson to a new requester.</h4>
              <div class="col-md-4">
                <label> Assign to User: </label> <br>
                <%= f.select :requester_id, options_from_collection_for_select(User.all.sort {|a,b| a.username_for_admin <=> b.username_for_admin}, :id, :username_for_admin, selected:@lesson.requester_id), include_blank:true %>
              </div>
              <div class="col-md-4">
                <label>Number of Days</label>
                <%= f.input :num_days, as: :string, placeholder: "How many consecutive days?", label: false %>
              </div>
            <div class="col-md-4">
                <label>Includes a lift ticket and/or rental package?</label>
                <%= f.input :includes_lift_or_rental_package, as: :radio, :collection=> [true, false], label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                <label>Is gift voucher?</label>
                <%= f.input :is_gift_voucher, as: :radio, :collection=> [true, false], label: false %>
            </div>
            <div class="col-md-4">
                <label>Gift Recipient Name</label>
                <%= f.input :gift_recipient_name, as: :string, placeholder: "Full Name", label: false %>
            </div>
            <div class="col-md-4">
                <label>Gift Recipient Email</label>
                <%= f.input :gift_recipient_email, as: :string, placeholder: "Email", label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label>Package info</label>
                <%= f.input :package_info, as: :text, placeholder: "Includes one adult lift ticket for $64", label: false %>
            </div>
            <div class="col-md-2">
              <label>Direct Lesson Cost</label>
              <%= f.input :lesson_cost, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
            <div class="col-md-2">
              <label>Non-Lesson Cost</label>
              <%= f.input :non_lesson_cost, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
            <div class="col-md-2">
              <label>Total Price</label>
              <%= f.input :lesson_price, as: :string, placeholder: "Enter custom price", label: false %>
            </div>
          </div>
        </div>
      <% end %>

      <div class='row'>
        <div class="col-md-6">
          <h4>Basic <strong>Info</strong></h4>
          <% if current_user.nil? || current_user.email == "brian@snowschoolers.com" %>
          <div class='row'>
            <div class="col-md-12">
              <h4>Book as a <strong>Guest</strong> | Or <a href="#" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Sign-in to your Account</a></h4>
                  <label>Email</label>
                  <%= f.email_field :guest_email, placeholder: "email@example.com", class: "form-control", type: 'email', required:true, label: false %>
            </div>
          </div>
          <% end %>
          <div class='row'>
            <div class="col-md-6">
              <label>Your Name</label>
              <%= f.text_field :requester_name, value: @lesson.requester_name, class: "form-control", required: true, label: false %>
            </div>
            <div class="col-md-6">
              <label>Phone</label> <span class="text-smaller"></span>
              <%= f.text_field :phone_number, placeholder: 'xxx-xxx-xxxx', class: 'form-control', required:true, include_blank:false %>
            </div>
            <div class="col-md-6">
              <label>Lesson Type</label>
              <%= f.select :activity, ['Ski', 'Snowboard'], {}, {class: 'form-control', required:true, include_blank:'Lesson Type'} %>
            </div>

            <div class="col-md-6">
              <label>Package Type</label>
              <%= f.select :product_name, ['1hr Learn to Ski Package (rental included)','1hr Group Lesson (lesson + lift only)'], {}, {class: 'form-control', required:true, include_blank:"Package Type"} %>
            </div>

          </div>
          <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
            <div class='row'>
              <div class="col-md-4">
                <label>Date</label>
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', value:@date }, placeholder: 'Pick a date', required: true, label: false %>
                <span class="search-area-icon"></span>
              </div>

              <div class="col-md-4">
                <label>Slot</label>
                <%= lt_f.input :slot, as: :select, collection: LESSON_SLOTS, selected: @slot, include_blank: 'Time', :input_html => { :class => 'slot'}, label: false %>
              </div>
          <% end %>
            <div class="col-md-4">
              <label>Price</label>
                <h2> <span id="lesson-price"><%= number_to_currency(@lesson.price) %></span></h2>
                <div id="calendar-status" class="hidden"><%= @lesson.lookup_calendar_period(@lesson.date) %></div>
            </div>
          </div>

          <div class='row'>
            <div class="col-md-12" id="gear-question">
              <label>Do you already have equipment?</label>
              <%= f.select :gear, [['Yes, I already have my equipment.', true], ['No, I will need to rent equipment.', false]], {}, {class: 'form-control', required:false, include_blank:"(Skis,boots,etc)"} %>
            </div>
          </div>

          <div class="row">
          </div>

          <h4>Student <strong>Info</strong></h4>

          <div id='lesson_students_input'>
            <%= f.semantic_fields_for :students do |student| %>
              <%= render 'student_fields', f: student %>
            <% end %>
            <h3 class="text-warning hidden" id="ability-level-warning">Warning - students must all be within one level of each other in order to participate in the same lesson.</h3>
            <div class='links'>
              <%= link_to_add_association 'Add Another Student', f, :students, limit: 2, class: 'btn btn-default', id:'add-student-button' %>
            <h4 class="text-danger hidden" id="max-students-warning">Note: only 3 students may be registered at a time. To book a private group lesson for 4 or more students, please visit <a href="www.snowschoolers.com/granlibakken" class="" target="_blank">www.snowschoolers.com/granlibakken</a>
            </h4>
            </div>
            <%= f.semantic_errors :students %>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Lesson  <strong> Objectives</strong></h4>

         <div class='col-md-12'>
            <label>What is your primary objective for the lesson? <br> Is there anything specific you want your instructor to know?</label>
            <%= f.input :objectives, placeholder: 'i.e. my child has a fear of heights, my child has special needs, I tore my ACL three years ago, etc.', required: false, label: false %>
          </div>
          <div class="col-md-12">
            <label>How did you first hear about Granlibakken?</label>
            <%= f.select :how_did_you_hear, [['From a friend',1],['Facebook',2],['Google',3],['I took a previous lesson',10],['From a postcard',4],['From someone at Homewood',5],['Tahoe Daves',6],['Ski Butlers',7],['Yelp',8],['Snowglers',9],['Other',100]], {}, {class: 'form-control', required:true, include_blank:false} %>
          </div>
          <div class="col-md-12">
            <span class="remember-box checkbox ">
              <label for="rememberme">
                  <%= f.check_box :terms_accepted, id: "rememberme", required: true  %>I agree to the <span><a href="/terms_of_service" target="_blank">Terms and Conditions</a></span>
              </label>
            </span>
        </div>

          <div class="col-md-9">
          <% if @lesson.state == 'new' %>
            <% button_text = "Continue to Payment" %>
            <% else %>
            <h4>Update <strong> Lesson Request</strong></h4>
            <% button_text = "Finalize Reservation" %>
          <% end %>
          </div>
          <div class="col-md-3">
            <%= f.input :state, as: :hidden, input_html: { value: @state } %>
            <% if @lesson.product_name && @lesson.product_name.length !=0 %>
            <%= f.input :product_id, as: :hidden, input_html: { value: Product.where(location_id:@lesson.requested_location,calendar_period:@lesson.location.calendar_status,name:@lesson.product_name).first.id } %>
            <% end %>
            <%= f.submit button_text, class: 'btn sign-up-btn pull-right', id: 'finalize-lesson' %>
          </div>
        </div>
      <!-- %= link_to 'Section Schedule', "#{ENV['DOMAIN']}/filtered-schedule-results?date=#{@lesson.section.date.to_s}", class: 'btn btn-default' %> -->

      </div>

      <hr class='lesson-break' />

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <hr>

        </div>
      </div>
    <% end %>

  </div>
</div>

<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/gb-sitting.jpeg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
