<%= semantic_form_for @lesson do |f| %>
  <div class="lesson-form-container">
    
      <div class="new-lesson-pricing-container">
        <%= render partial: "welcome/prices_equipment_tickets" %>
      </div>

      <div class="new-lesson-caption" id="buy-tickets">

        <div class="block">
          <p class="cta-subtext center black-text">Select date to get started.</p>
        </div>
        <h1 class="warning">        
        	<%= f.semantic_errors :lesson %>
        </h1>
        
        <div class="block inputs">

            <%= f.input :requested_location , as: :hidden, collection: Location.active_partners.sort_by { |location| location.name.downcase} , selected: 24, include_blank: 'Location', label: false %>

            <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
              <div class="col-md-4">
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', value:@date }, placeholder: 'Date', label: false %>
                <span class="search-area-icon"></span>
              </div>

<!--              <% if current_user.nil? %>
              <div class="col-md-4 guest-email-input">
                <%= f.input :guest_email, as: :string, placeholder: "your_email@example.com", label: false %>
              </div>
              <% end %>
 -->            <% end %>

              <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
              <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
            <div class="col-md-4">
                <h1 class="new-lesson-ctas-list center">
                      <%= f.action :submit, :label => "GET STARTED", as: :input, button_html: { class: 'btn btn-default btn-lg' } %>
                </h1>
            </div>

        </div>    

      </div>
          
  </div>

<% end %>