<div id='full-details-container'>

  <div class="details-info-box">    

    <h3><b>Booking Summary</b></h3>
    <% if @lesson.deposit_status == 'confirmed' || @lesson.state == 'confirmed' || @lesson.date == Date.today %>
      <p>
        Your ticket confirmation number is: 
        <ul>
          <li>
            <span style="font-size:18px;"></span>
              <p>
                <%=@lesson.confirmation_number%>                
              </p>
          </li>
        </ul>
        <p>
          Please either print this page or save the confirmation email you should automatically receive, as you will need to show your confirmation number to a staff member as proof of payment. 
        </p>
        <% if @lesson.lesson_siblings.count >= 2 %>
        <p>
          Please note that if you purchased multiple types of tickets, you will see multiple confirmation numbers above, but will only see the participant info for one type below. To view participant information for each individual ticket type, please click the respective confirmation numbers below.
        </p>    
        <ul>          
          <% @lesson.lesson_siblings.each do |lesson| %>
          <li class="past-orders"><%= link_to lesson.unique_confirmation_number(lesson), lesson_path(lesson.id), class:"btn btn-tertiary" %></li>
          <% end %> 
        </ul>
        <% end %>
      </p>
    <% end %>

    <div class='row'>

      <div class="col-md-12 col-xs-12">
      <h4 class="slot-details-mobile">
        <span class="lesson-detail-topic"><b>Reservation Name:</b></span> <%= @lesson.requester_name %> <br>
        <span class="lesson-detail-topic"><b>Email:</b></span> <%= @lesson.customer_email %> <br>
        <span class="lesson-detail-topic"><b>Date:</b></span> <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %><br>
        <% if @lesson.activity == "lift_ticket" %>
            <span class="lesson-detail-topic"><b>Type:</b></span> <%= @lesson.slot %><br>
            <% else %>
            <span class="lesson-detail-topic"><b>Session Time:</b></span> <%= @lesson.slot %><br>
        <% end %>
        <span class="lesson-detail-topic"><b>Number of tickets:</b></span>  <%= @lesson.students.count %><br>
        <% if @lesson.package_info && @lesson.package_info.length > 1 %>
          <span class="lesson-detail-topic"><b>Adjustments:</b></span>  <%= @lesson.package_info %>
          <br><br>                  
        <% end %>
        <span class="lesson-detail-topic"><b>Reservation Status:</b> <%=@lesson.state%> <br>
        <span class="lesson-detail-topic"> <%= link_to 'View Release of Liability', release_of_liability_path(@lesson.id), class:"navy-link", target:"_blank" %><br>

      </span></h4>
      </div>
    </div>
  </div>

  <div class="details-info-box">
      <% if @lesson.activity == "lift_ticket" %>
          <%= render partial: 'ski_hill_details' %>
        <% else %>
          <%= render partial: 'sled_hill_details' %>
      <% end %>
  </div>
  <div class="details-info-box">
      <%= render partial: 'price_details' %>
  </div>
  <div class='details-info-box'>
      <%= render partial: 'student_details' %>
  </div>
</div>
