<div class="wide-container">
  <div id="all-lessons" class="">
    <h1>Upcoming Sledding Capacity</h1>

    <% if current_user && current_user.user_type == "Granlibakken Employee" && @show_search_options == true %>
    <div class="admin-viewable">
      <ul>
        <li>Total Tickets Booked: <%=Location.find(24).lifetime_lessons.count %></li>
        <li>Total Revenue Booked: <%= number_to_currency(Location.find(24).lifetime_revenue) %></li>
        <li>Tickets Today: <%= Location.find(24).today_lessons.count %></li>
        <li>Revenue Today: <%= number_to_currency(Location.find(24).today_revenue) %></li>
      </ul>
      <%= link_to "View all reservations", sledding_admin_index_all_path, class: 'btn btn-warning' %>   
    </div>
    <div class="center">
      <div class="buffer"></div>
      <%= render partial: 'products/search' %>
    </div>
    <% end %>

    <table class="instructors-table daily-roster">
      <thead>
        <tr>
          <th class="lessons-table-cells lesson-date">Reservation Date</th>
          <th class="lessons-table-cells lesson-date">Session Time</th>
          <th class="lessons-table-cells lesson-instructor"> Bookings</th>
          <th class="lessons-table-cells">Tickets Sold</th>
          <th class="lessons-table-cells lesson-instructor"> Session Capacity</th>
          <th class="lessons-table-cells lesson-instructor"> Tickets Remaining</th>
          <th class="lessons-table-cells">Percent Capacity</th>
          <!-- <th class="lessons-table-cells"></th> -->
        </tr>
      </thead>

      <tbody>
        <% @dates.each do |date| %>
        <!-- 1st sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Early-bird 9am-10:30am </td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Early-bird 9am-10:30am"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Early-bird 9am-10:30am"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- 2nd sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Morning (11am-12:30pm) </td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Morning (11am-12:30pm)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Morning (11am-12:30pm)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- 3rd sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Midday (1pm-2:30pm)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Midday (1pm-2:30pm)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Midday (1pm-2:30pm)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- 4st sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Closing(3pm-4:30pm)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Closing(3pm-4:30pm)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Closing(3pm-4:30pm)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- [Sat night] sledding session #1 -->
            <% if date.wday == 5 || date.wday == 6 || SPECIAL_NIGHT_SLEDDING_DATES.include?(date.to_s) %>
            <tr>
              <td colspan="1" class="lessons-table-cells"><%= date %> </td>
              <td colspan="1" class="lessons-table-cells">Night (5:00 PM - 6:30 PM)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Night (5:00 PM - 6:30 PM) - special dates only"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Night (5:00 PM - 6:30 PM) - special dates only"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>    
            <% end %>
        <tr>
          <td colspan="7" class="daily-roster-section-break"><span>---</span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
</div>
