<div class="wide-container">
  <div id="all-lessons" class="">
    <h1>Upcoming Sledding Capacity</h1>

    <% if current_user && (current_user.email == "brian@snowschoolers.com" || current_user.user_type == "Granlibakken Employee") && @show_search_options == true%>
    <div class="admin-viewable">
      <ul>
        <li>Total Tickets Booked: <%=Location.find(24).lifetime_lessons.count %></li>
        <li>Total Revenue Booked: <%= number_to_currency(Location.find(24).lifetime_revenue) %></li>
        <li>Tickets Today: <%= Location.find(24).today_lessons.count %></li>
        <li>Revenue Today: <%= number_to_currency(Location.find(24).today_revenue) %></li>
      </ul>
      <%= link_to "View all reservations", sledding_admin_index_all_path, class: 'btn btn-warning' %>   
    </div>
    <div class="center">
      <div class="buffer"></div>
      <%= render partial: 'products/search' %>
    </div>
    <% end %>

    <table class="instructors-table daily-roster">
      <thead>
        <tr>
          <th class="lessons-table-cells lesson-date">Reservation Date</th>
          <th class="lessons-table-cells lesson-date">Session Time</th>
          <th class="lessons-table-cells lesson-instructor"> Bookings</th>
          <th class="lessons-table-cells">Tickets Sold</th>
          <th class="lessons-table-cells lesson-instructor"> Session Capacity</th>
          <th class="lessons-table-cells lesson-instructor"> Tickets Remaining</th>
          <th class="lessons-table-cells">Percent Capacity</th>
          <!-- <th class="lessons-table-cells"></th> -->
        </tr>
      </thead>

      <tbody>
        <% @dates.each do |date| %>
        <!-- 1st sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Early-bird 8:30am-10am </td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Early-bird (8:30-10am)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Early-bird (8:30-10am)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- 2ne sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Morning (10:30am-12pm) </td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Morning (10:30am-12pm)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Morning (10:30am-12pm)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- 3rd sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Midday (12:30-2pm)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Midday (12:30-2pm)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Midday (12:30-2pm)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- 4st sledding session -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Closing(2:30-4pm)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Closing(2:30-4pm)"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "Closing(2:30-4pm)"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- [NYE evening only] sledding session #1 -->
            <% if date.wday == 6 %>
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Saturday Dusk Session (4:30-6pm)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "4:30 - 6:00pm"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "4:30 - 6:00pm"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
        <!-- [NYE evening only] sledding session #2 -->
            <tr>
              <td colspan="1" class="lessons-table-cells"><%=date %> </td>
              <td colspan="1" class="lessons-table-cells">Saturday Late night session (6:30-8pm)</td>
              <td colspan="1" class="lessons-table-cells"><%= @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "6:30-8:00pm"}.count %> </td>
                <% day_slot_bookings =  @lessons.select{|lesson| lesson.date.to_s == date.to_s && lesson.slot == "6:30-8:00pm"} %>
                <% day_slot_tickets = 0 %>
                <% day_slot_bookings.each do |b| day_slot_tickets += b.students.count end %>
              <td colspan="1" class="lessons-table-cells"><%=day_slot_tickets %> sold </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY %> max </td>
              <td colspan="1" class="lessons-table-cells"><%= SLEDHILL_CAPACITY - day_slot_tickets %> left </td>
              <td colspan="1" class="lessons-table-cells"><%= number_to_percentage((day_slot_tickets*100)/SLEDHILL_CAPACITY, precision:0) %> full </td>
            </tr>
            <% end %>
        <tr>
          <td colspan="7" class="daily-roster-section-break"><span>---</span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
</div>
